.booking-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

}

.booking-page-title{
    margin-bottom: 50px;
}

.booking-page-form-container{
    display: flex;
    flex-direction: column;
}

.booking-input{
    width: 300px;
    margin: 10px 0px;
}