*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}


a{
    text-decoration: none;
}

html,body{
    height: 100%;
    min-height: 100%;
}

.header-container{
    display: flex;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid black;

    justify-content: center;
    align-items: center;
    
}

.header-logo,.header-container>a{
    height: 100%;
    width: auto;
}

.header-buttons-container{
    margin-left: 200px;
}

.header-button{
    padding: 10px 30px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.header-button:hover{
    color: blue;
}

.homepage-big-image-container{
    height: calc(100vh - 100px);
    width: 50%;
    background-image: url("https://ariane-hotel.com/wp-content/uploads/2021/12/Park-Hyatt-New-York-Manhattan-Sky-Suite-Master-Bedroom-low-res_54_990x660.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-title{
    font-size: 40px;
    color: white;
    margin-bottom: 100px;
}

.homepage-booknow-button{
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
    background-color: #3333ff;
    color: white;
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0px 2px 4px rgba(black, 0.3);
    cursor: pointer;
}

.homepage-booknow-button:hover{
    background-color: #1d1d95;
}


.homepage-footer-container{
    display: flex;    
    height: 200px;
    width: 100%;
    background-color: white;
    padding: 50px;

    justify-content: space-between;
    align-items: center;
}

.footer-right-side{
    display: flex;
    align-items: center;
}

.footer-logo{
    height: 100px;
    width: auto;
}

.social-logos{
    height: 30px;
    width: 30px;
    margin: 0px 10px;
}

input,select{
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    height: 50px;
    padding: 10px 12px;
    outline: 0;
    border: 2px solid lightgray;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .15)
}

input:focus,select:focus{
    border: 2px solid black;
}


.homepage-container{
    display: flex;
    width: 100%;
}


.login-container{
    padding: 200px 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.login-title{
    margin-bottom: 30px;
}

.login-container>.booking-input{
    margin-bottom: 15px;
    width: 100%;
}

#submit-button{
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

#submit-button:hover{
    border-color: black;
}